body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #03a9f426;
    padding-top: 60px;
    height: 100px;
}

body * {
    font-family: Roboto, "Helevetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
    ;
}
